<h1>Posts Index</h1>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Date</th>
      <th>User</th>
      <th>Rationoale</th>
    </tr>
  </thead>
  <tbody>
    <%= render @posts %>
  </tbody>
</table>